.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    width: 1100px;
    background-color: aquamarine;
    margin: 20px 0;

    .btn-film {
        margin: 0 auto;

        
    }
}