.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    width: 1100px;
    background-color: aquamarine;
    margin: 20px 0;

    .show-list-film {
        background-color: #333;
    }

    .btn-film {
        margin: 0 auto;
    }

    .cinema-theater {
        margin: 20px;
        background-color: #ccc;
    }
}