.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

.inner {
    width: 1100px;
    margin: 20px 0;
    
    .show-list-film {
        border: 1px solid #ccc;
        background-color: var(--primary);
    }

    .btn-film {
        margin: 0 auto;
    }

    .cinema-theater {
        margin: 20px;
        background-color: #ccc;
    }
}