.ghe {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgba(123, 122, 122);
}

.gheDaDat {
    background-color: red;
    cursor: no-drop;
}

.gheDangDat {
    background-color: green;
}

.gheVip {
    background-color: orange;
}