.wrapper {
    display: flex;
    justify-content: center;

    .inner {
        width: 1200px;
        background-color: #ccc;
        display: flex;

        .content-left {
            width: 70%;
        }

        .content-right {
            width: 30%;
        }
    }
}