.wrapper {
    display: flex;
    justify-content: center;

    .inner {
        width: 1300px;
        background-color: #ccc;
        display: flex;
    }
}

.content-left {
    width: 70%;
}

.content-right {
    width: 30%;
}


.content-head {
    display: flex;
    justify-content: center;
}

.content-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
    padding: 25px;
}

.btn-buy {
    button {
        color: var(--white);
        background-color: green;
    }
}